body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h2{
  font-size: 3em;
}

nav#n1 {
  background-color: beige;
  padding: 1em;
}


section#s1 {
  padding: 1em;
}


footer#f1 {
  background-color: beige;
  padding: 0.5em;
  margin-top: 1em;
}
footer#f1 ul {
  list-style: none;
  display: inline-flex;
}
footer#f1 ul li {
  display: inline-flex;
  padding: 0px 0.4em 0em 0.4em;
  border-left: 1px solid #464545;
}
footer#f1 ul li:first-child {
  border-left: none;
}
